/* место для вашего кода */

/* Подключаем стили woff2 так как они легче */
@font-face {
    src: url(../fonts/Raleway-Bold.woff2) format('woff2');
    font-family: 'Raleway-Bold';
}

@font-face {
    src: url(../fonts/Raleway-Regular.woff2) format('woff2');
    font-family: 'Raleway-Regular';
}


body {
    max-width: 95%;
}

.grid {
    max-width: 1440px;
    /* position: fixed; */
    /* height: 100vh; */
    flex-grow: 1;
    inset: 0;
    margin: auto;
    display: grid;  
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 12px;
    /* padding: 0 12px; */
    /* z-index: -1; */
}

/* .grid div {
    background-color: rgb(255 0 0 / 0.2);
} */

/* .box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #5f0dee;
    background-color: rgba(218, 74, 74, 0.6);
} */

.column {
    background-color: rgb(255 0 0 / 0.3);
    /* z-index: 1; */
}

.header {
    max-height: 109px;
    background-color: #d6b09a96;
    margin-top: 92px;
}

.menu {
    max-height: 109px;
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    align-items: center;
}

.header__links-list {
    margin-left: 6%;
    list-style: none;
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    list-style: circle;
    text-underline-offset: 4px;
}

.header__links-list li {
    margin: 16px;
    float: left;
}

menu a:active {
    text-decoration: none;
}

.header__links-list>li:first-child {
    list-style-type: none;
}

.header__links-list li:first-child a {
    text-decoration: none;
}



/*
.header__links-list>li:nth-child(2) {
    margin-left: -94px;
    /* margin-left: 25px; 
}

.header__links-list>li:nth-child(3) {
    margin-left: -94px;
} */


.logo {
    grid-column-start: 6;
    grid-column-end: 8;
    display: block;
    max-height: 109px;
}

.logo-img {
    height: 105px;
    margin-bottom: 17px;
}

.address {
    margin: auto;
    width: 240px;
}

.address>ul {
    list-style-type: none;
    line-height: 24.3px;
}

.header__address {
    grid-column-start: 10;
    grid-column-end: 13;
}

.footer__address {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 50px;
}

.footer__menu{
    grid-column-start: 5;
    grid-column-end: 7;
    width: 150px;
    margin: auto;
    /* padding-bottom: 20px; */
}

.footer__menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 149px;
    font-family: 'Raleway-Regular';
    font-size: 18px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social {
    grid-column-start: 10;
    grid-column-end: 13;
    margin: auto;
    width: 100%;
}

.footer__social-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.footer__social-icon {
    width: 48px;
}

.darkStar > svg {
    top: 0;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.raleway-bold {
    font-family: 'Raleway-Bold';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.raleway-regular {
    font-family: 'Raleway-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* .grid-6-rows {
    grid-template-rows: repeat(12, 1fr);
    gap: 20px;
} */

.jambotron {
    padding-top: 11%;
}

.jambotron>div:nth-child(1)  {
    margin: 15px 3.5% 0;
    height: 115px;
    /* margin-bottom: 10px; */
}

.jambotron>div:nth-child(2)  {
    margin: 11px 0 20px 0;
  }

  .jambotron>div:nth-child(3)  {
    margin: 0 1.4%;
  }

/* .dark-overlay {
    position:absolute;
    left:0;
    background: rgba(33, 4, 4, 0.5);
    z-index: 1;
} */

.lotus-background {
    background-image: url('/images/cover.jpg');
    /* z-index: 1; */
}

.height-92px {
    height: 92px;
}

.height-100px {
    height: 135px;
}

.height-180px {
    height: 180px;
}


.cover {
    height: 757px;
    grid-column-start: 1;
    grid-column-end: 13;
    /* z-index: -1; */
}

.relative {
    position: relative;
}

.z-index-front {
    z-index: 1;
}

/* .dimmed {
    position: relative;
} */

.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    /* height: 100%; */
    /* opacity: .5; */
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

.white-title {
    color: #FFF;
    font-family: "Raleway-Bold";
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
    z-index: 1;
}

.jumbotron-bottom-section {
    display: flex;
    align-items: center;
}

.jumbotron-subtitle {
    display: flex;
    color: white;
    font-size: 22px;
    /* padding: 20px; */
    text-transform: uppercase;
    justify-content: center;
    word-spacing: 17px;
    margin-right: 80px;
}

.jumbotron-button {
    width: 257px;
    height: 52px;
    background: transparent;
    color: white;
    border: 2px solid white;
    margin-right: 50px;
    font-size: 22px;
    text-transform: uppercase;
}

/* .dimmed:after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
} */

.full-width {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 13;
}

.flex-align-start {
    justify-content: flex-start;
}

.flex-align-center {
    justify-content: center;
}

.flex-align-end {
    justify-content: flex-end;
}

.letter-spacing {
    letter-spacing: 60px;
}

.lots {
    margin-top: 180px;
}

.lots__heading {
    margin-left: 15%;
}

.lots__card-list {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    list-style-type: none;
    flex-wrap: wrap;
}

.lots__card-list-item {
    width: 430px;
    height: 450px;
    margin: 0px 12px 0px 12px;
    padding: 50px 40px 50px 40px;
}

.lots__card-list-item:nth-child(1) {
    background-image: url("/images/card-lot-01.jpg");
}

.lots__card-list-item:nth-child(2) {
    background-image: url("/images/card-lot-02.jpg");
}

.lots__card-list-item:nth-child(3) {
    background-image: url("/images/card-lot-03.jpg");
}

.card-link {
    text-decoration: none;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.card__title {
    color: #FFF;
    font-family: 'Raleway-Regular';
    font-size: 22px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card__text {
    color: #FFF;
    font-family: 'Raleway-Regular';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.lots__look-more-link {
    margin: 30px 0px 0px 15%;
    display: block;
    font-family: 'Raleway-Regular';
    font-size: 20px;
    max-width: 200px;
}

.about {
    display: flex;
    margin: 0 auto;
    flex-direction: row-reverse;
    max-width: 80%;
    justify-content: space-between;
    height: 487px;
}

.about__column {
    width: 65%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.about__logo {
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    width: 240px;
    height: 240px;
    margin: 0 auto;
}

.about__logo-image {
    margin-top: 25%;
}

.about__title {
    margin-bottom: 100px;
}

.about__text {
    font-family: 'Raleway-Regular';
    font-size: 20px;
}

.about__text > p {
    padding-bottom: 20px;
}

.heading {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Raleway-Bold';
}